<html>
	<head>
		<title>Guild Manager</title>
		<meta charset="UTF-8">
		<link rel="shortcut icon" href="/static/favicon.png">
		<link rel="stylesheet" href="/static/index.css">
	</head>
	<body>
		<main>
			<div>
				<table>
					<tr>
						<th>Name</th>
						{{ $indZero := index . 0}}
						{{ range $key, $value := $indZero.Activities }}
						<th>
							{{$key}}
						</th>
						{{ end }}
						<th></th>
						<th></th>
					</tr>
					{{ range . }}
					<tr>
						<form action="/update" method="post">
							<td><input type="text" name="name" value="{{.Name}}" /></td>
							{{range $key, $value := .Activities }}
							<td><input type="text" name="{{$key}}" value="{{$value}}" /></td>
							{{end}}
							<td><input type="submit" value="update"></td>
						</form>
						<form action="/delete" method="post">
							<td>
								<input type="hidden" name="name" value="{{.Name}}">
								<input type="submit" value="delete">
							</td>
						</form>
					</tr>
					{{ end }}
				</table>
			</div>
			<details>
				<summary>New Row</summary>
				<form action="/row" method="post">
					<input type="text" name="name" placeholder="Name" />
					{{ $indZero := index . 0 }}
					{{range $key, $value := $indZero.Activities }}
					<input type="text" name="{{$key}}" placeholder="{{$key}}" />
					{{ end }}
					<input type="submit" value="insert new member" />
				</form>
			</details>
			<details>
				<summary>New Col</summary>
				<form action="/col" method="post">
					<input type="text" name="key" placeholder="Column Name" />
					<input type="submit" value="insert new column" />
				</form>
			</details>
		</main>
	</body>
</html>
